.aside-bar {
    background-color: rgb(79, 121, 108);
    width: auto;
    height: 400px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    grid-area: 3 / 1 / 6 / 2;
}

.side-bar-pic {
    width: 320px;
    height: 400px;
}