.aside-bar {
    background-color: rgb(79, 121, 108);
    width: auto;
    height: 400px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    grid-area: 3 / 1 / 6 / 2;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 25px;
}

.nav-menu-item {
    color: bisque;

}