.main {
    background-color: #81A4CD;
    width: auto;
    height: 400px;
    border-radius: 10px;
    margin: 0px 10px;
    grid-area: 3 / 2 / 6 / 6;
}

.main-text {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 200;
}