.main {
    position: absolute;
    top: 350px;
    left: 270px;
    right: 0;
    margin-top: 10px;
    background-color: #81A4CD;
    width: 740px;
    height: 400px;
    border-radius: 10px;
}

.main-text {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 200;
}